<!DOCTYPE html>
<html>
<head>
  {{>head_link}}
</head>
<body>
   
    {{>navbar}}
   <!--main header-->
   
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto ">
            <div class="row">
                <!--LEFT SIDE DIV-->
                <div class="col-md-6 col-12 main_header_left align-items-center">
                {{!-- <figure>
                    <img src="/public/m4.jpg" allt="pic"  class="img-fluid" title="surya">
                </figure>
                  --}}
                  <p>welcome to  App</p>
                  <h1>{{errormsg}}</h1>
                  <a href="/" target="_blank"><button>Go Back</button></a>
                </div>
                
               
            </div>

         </div>
    </div>
</div>

<!--footer-->
{{>footer}}
</body>
</html>