<!DOCTYPE html>
<html>
<head>
  {{>head_link}}
</head>
<body>
   
    {{>navbar}}
   <!--main header-->
   
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
            <div class="row">
                <!--LEFT SIDE DIV-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="m4.jpg" allt="pic"  class="img-fluid" title="surya">
                </figure>
                </div>
                <!--RIGHT SIDE DIV-->
                <div class="col-md-6 col-12 main_header_left">
                  <p>welcome to Weather App</p>
                  <h1>A mind is like a <span class="text_clr">Parachute</span>, it doesn't work if it is not open</h1>
                  <a href="https://www.instagram.com/leomessi/" target="_blank"><button>About Us</button></a>
                </div>
                
               
            </div>

         </div>
    </div>
</div>

<!--footer-->
{{>footer}}
</body>
</html>